OPENAI_ENDPOINT=https://api.openai.com/v1
OPENAI_API_KEY=

ANTHROPIC_API_KEY=
ANTHROPIC_ENDPOINT=https://api.anthropic.com

GOOGLE_API_KEY=

AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_API_VERSION=2024-12-01-preview

MISTRAL_API_KEY=
MISTRAL_ENDPOINT=https://api.mistral.ai/v1

OLLAMA_ENDPOINT=http://localhost:11434

# Browser-Use API key (required for CodeAgent flow export)
BROWSER_USE_API_KEY=

#set default LLM
DEFAULT_LLM=google


# Set to false to disable anonymized telemetry
ANONYMIZED_TELEMETRY=false

# LogLevel: Set to debug to enable verbose logging, set to result to get results only. Available: result | debug | info
BROWSER_USE_LOGGING_LEVEL=info
EVENTBUS_MEMORY_WARNING_MB=500

# Storage locations
FLOW_STORAGE_DIR=./tmp/flows
FLOW_RUNS_DIR=./tmp/runs
WORKFLOW_STORAGE_DIR=./tmp/workflows

# Browser settings
BROWSER_PATH=
BROWSER_USER_DATA=
BROWSER_DEBUGGING_PORT=9222
BROWSER_DEBUGGING_HOST=localhost
# Set to true to keep browser open between AI tasks
KEEP_BROWSER_OPEN=true
USE_OWN_BROWSER=false
BROWSER_CDP=
# Display settings
# Format: WIDTHxHEIGHTxDEPTH
RESOLUTION=1920x1080x24
# Width in pixels
RESOLUTION_WIDTH=1920
# Height in pixels
RESOLUTION_HEIGHT=1080

# VNC settings
VNC_PASSWORD=youvncpassword
